<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Display a data</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Swim Style</th>
        </tr>
        <% for(var i=0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].name %></td>
                <td><%= data[i].char %></td>
                <td><%= data[i].swim %></td>
                <td><a href="/edit/<%= data[i].id %>">Edit</a></td>
            </tr>
        <% } %>
    </table>
</body>
</html>