<h3>Update Data</h3>
<form method="POST" action="/update/<%= data.id %>">
    Name : <input type="text" name="name" value="<%= data.name %>"><br>
    Role : <input type="text" name="char" value="<%= data.char %>"><br>
    Swim Style : <input type="text" name="swim" value="<%= data.swim %>"><br>
    <input type="submit" value="Update">
</form>